@font-face {
  font-family: 'Garet';
  src: url('../../../public/fonts/Garet-Book.ttf');
}

@font-face {
  font-family: 'Hertical Smooth';
  src: url('../../../public/fonts/Hertical\ Sans\ Smooth.ttf');
}
