@font-face {
  font-family: 'Garet';
  src: url('../../../public/fonts/Garet-Book.ttf');
}

@font-face {
  font-family: 'Hertical Smooth';
  src: url('../../../public/fonts/Hertical\ Sans\ Smooth.ttf');
}

@font-face {
  font-family: 'Infinity';
  src: url('../../../public/fonts/Infinity-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Infinity';
  src: url('../../../public/fonts/Infinity-Medium.otf');
  font-weight: medium;
}

@font-face {
  font-family: 'Infinity';
  src: url('../../../public/fonts/Infinity-Black.otf');
  font-weight: Black;
}

@font-face {
  font-family: 'Infinity';
  src: url('../../../public/fonts/Infinity-Thin.otf');
  font-weight: Thin;
}

@font-face {
  font-family: 'Infinity';
  src: url('../../../public/fonts/Infinity-Light.otf');
  font-weight: Light;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../../public/fonts/Raleway/Raleway-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
